{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Addictest - Qu’est-ce que ADDICTEST ?</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'predict/img/favicon.ico' %}"  rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{% static 'predict/lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'predict/lib/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'predict/lib/lightbox/css/lightbox.min.css' %}">


    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{% static 'predict/css/bootstrap.min.css' %}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'predict/css/style.css' %}">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0">ADDICTEST</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="{% url 'home' %}"  class="nav-item nav-link">Accueil</a>
                        <a href="{% url 'about' %}"  class="nav-item nav-link active">Qu’est-ce que Addictest ?</a>
                        <a href="{% url 'simulation' %}" href="" class="nav-item nav-link">Prédiction du risque d'addiction</a>
                    </div>
                    <a href="{% url 'admin:index'%}" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Espace Admin</a>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated slideInDown">Qu’est-ce que la Addictest ?</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a class="text-white" href="#">Bienvenue sur AddicTest</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Nos services<span></span></p>
                    <h1 class="text-center mb-5">Prédictions que nous offrons</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation d'Alcool</h5>
                            <p class="m-0">L’alcool est une substance obtenue par fermentation de végétaux (fruits, céréales grains ou racines) riches en sucres comme : Le raisin pour le vin ou le cognac, La pomme (cidre) .</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-laptop-code fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation de Nicotine</h5>
                            <p class="m-0">La nicotine est un alcaloïde naturellement présent à forte concentration dans les feuilles du tabac. Notons qu’elle est aussi présente dans d’autres plantes comme la tomate et l’aubergine. Et sa toxicité protège la plante des insectes.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fab fa-facebook-f fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation de Cannabis</h5>
                            <p class="m-0">Le Cannabis est considérée comme un dépresseur, un stimulant et un hallucinogène. Le médicament déclenche la libération de dopamine dans le cerveau et produit un "high" relaxant. L'ingrédient actif de l'herbe est le THC, qui produit le high que les gens ressentent lorsqu'ils l'utilisent.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-mail-bulk fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation d'Amphet</h5>
                            <p class="m-0">Les amphétamines sont des stimulants, ce qui signifie qu'elles accélèrent la vitesse de transmission des messages entre votre cerveau et votre corps. Les stimulants sur ordonnance traitent le ADHD, la narcolepsie et l'obésité.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-thumbs-up fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation de Cocaïne</h5>
                            <p class="m-0">La cocaïne est une substance hautement addictive et illégale qui entraîne une augmentation des niveaux d'énergie, de la vigilance, de l'euphorie et parfois de l'anxiété. Il est classé comme un stimulant du SNC (système nerveux central) et un anesthésique local.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fab fa-android fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation d'Ecstasy</h5>
                            <p class="m-0">L'ecstasy est considérée comme une « drogue de fête » parce que la plupart des consommateurs en consomment pour améliorer leur humeur pendant qu'ils font la fête. Le médicament est fabriqué par l'homme (synthétique) et peut avoir un impact négatif sur votre cerveau, votre corps et vos comportements.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fab fa-android fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation de Legalh</h5>
                            <p class="m-0">Drogues contenant une ou plusieurs substances chimiques qui produisent des effets similaires à des drogues comme la cocaïne, le cannabis et l'ecstasy - et anciennement appelées "euphorisants légaux".</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fab fa-android fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation de LSD</h5>
                            <p class="m-0">Le LSD est un hallucinogène puissant et largement consommé, également connu sous le nom d'acide.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fab fa-android fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Consommation de Mushrooms</h5>
                            <p class="m-0">Cette drogue est aussi appelée champis ou champignons magiques. C'est un type de champignon qui contient l'ingrédient psychoactif psilocybine.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Address<span></span></p>
                        <p><i class="fa fa-map-marker-alt me-3"></i>ENSAM Rabat, Rabat</p>
                        <p><i class="fa fa-envelope me-3"></i>info@addictest.com</p>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
                        <a href="{% url 'home' %}" class="btn btn-link">Accueil</a>
                        <a href="{% url 'about' %}" class="btn btn-link">About Addictest</a>
                        <a href="{% url 'simulation' %}" class="btn btn-link">Simulation</a>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                        <p>Recevez les dernières nouveautés de notre application!</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Votre Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">AddicTest</a>, All Right Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="{% url 'home' %}">Accueil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

     <!-- JavaScript Libraries -->
    <link rel="stylesheet" href="{% static 'predict/lib/animate/animate.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'predict/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'predict/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'predict/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'predict/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'predict/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'predict/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'predict/lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'predict/js/main.js' %}"></script>
</body>

</html>